body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.foto {
  width: 150px;
  border-radius: 50%;
}

.llista-viatges {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.viatge {
  display: flex;
  align-items: center;
  gap: 15px;
}

.viatge img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.viatge h3 {
  margin: 0;
}

.viatge p {
  margin: 5px 0 0 0;
}
form {
  max-width: 500px;
  margin: auto;
}

form input, form select, form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

